@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  background-image: linear-gradient(to right bottom, #2c2d2e, #2e343a, #2f3b47, #304154, #314861);
    font-family: Inter;
}

h1 {
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    
}

h4 {
  color: aliceblue;
  font-size: 14px;
}

input {
    width: 50px;
    height: 20px;
}

.btn {
  width: 100px;
}

i {
  font-size: 12px;
}

.inline {
  display: inline-block;
}


.form-select {
  font-family: Inter;
}