@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    background-color: rgb(43, 41, 41);
    font-family: Inter;
}

h1 {
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    
}

h4 {
  color: aliceblue;
  font-size: 14px;
}

input {
    width: 40px;
    height: 20px;
}

.btn {
  width: 100px;
}

i {
  font-size: 12px;
}

.inline {
  display: inline-block;
}

.orange {
  color :;
}

.form-select {
  font-family: Inter;
}